name: Build

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.21

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      # note: @v2 seem to be https://github.com/actions/checkout/issues/290
      # which only works IF the tags are pushed before/same time as the commit
      # otherwise, display previous tag
      with:
        fetch-depth: 0

    - name: Set VERSION for tag builds
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "VERSION=$(git describe --tags --abbrev=0 HEAD)" >> $GITHUB_ENV

    - name: Tidy Go Modules
      run: go mod tidy

    - name: Test & Vet
      run: make test vet
      
    - name: Build
      run: |
        GOOS=linux   ARCH=x86_64  GOARCH=amd64 make build
        GOOS=linux   ARCH=arm64   GOARCH=arm64 make build
        GOOS=linux   ARCH=arm     GOARCH=arm GOARM=7 make build
        GOOS=darwin  ARCH=x86_64  GOARCH=amd64 make build
        GOOS=darwin  ARCH=arm64   GOARCH=arm64 make build
        GOOS=windows ARCH=x86_64  GOARCH=amd64 EXTENSION=.exe make build
        GOOS=windows ARCH=arm64   GOARCH=arm64 EXTENSION=.exe make build
          
    - name: Install fpm
      run: |
        sudo apt-get update
        sudo apt-get install -y rpm ruby ruby-dev
        sudo gem install fpm
        
    - name: Package
      run: |
        GOOS=linux ARCH=x86_64 GOARCH=amd64 make package-deb package-rpm
        GOOS=linux ARCH=arm64  GOARCH=arm64 make package-deb package-rpm
        GOOS=linux ARCH=arm    GOARCH=arm   make package-deb package-rpm

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/*
        retention-days: 14

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload Release Asset
      if: startsWith(github.ref, 'refs/tags/')
      uses: actions/github-script@v2
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const fs = require('fs').promises;
          const upload_url = '${{ steps.create_release.outputs.upload_url }}';
          for (let file of await fs.readdir('./dist')) {
            console.log('uploading', file);
            await github.repos.uploadReleaseAsset({
              url: upload_url,
              name: file,
              data: await fs.readFile(`./dist/${file}`)
            });
          }
