name: Build

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      # note: see https://github.com/actions/checkout/issues/290
      # which only works IF the tags are pushed before/same time as the commit
      # otherwise, display previous tag
      with:
        fetch-depth: 0

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: ^1.24
        cache: true
        cache-dependency-path: |
          go.sum
          go.mod

    - name: Tidy Go Modules
      run: go mod tidy

    - name: Test & Vet
      run: make test vet

  build:
    name: Build (${{ matrix.goos }}-${{ matrix.goarch }})
    needs: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - goos: linux
            goarch: amd64
            package: true
          - goos: linux
            goarch: arm64
            package: true
          - goos: linux
            goarch: arm
            goarm: "7"
            package: true
          - goos: darwin
            goarch: amd64
            package: false
          - goos: darwin
            goarch: arm64
            package: false
          - goos: windows
            goarch: amd64
            extension: .exe
            package: false
          - goos: windows
            goarch: arm64
            extension: .exe
            package: false
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      # note: see https://github.com/actions/checkout/issues/290
      # which only works IF the tags are pushed before/same time as the commit
      # otherwise, display previous tag
      with:
        fetch-depth: 0

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: ^1.24
        cache: true
        cache-dependency-path: |
          go.sum
          go.mod

    - name: Set VERSION for tag builds
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "VERSION=$(git describe --tags --abbrev=0 HEAD)" >> $GITHUB_ENV

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
        GOARM: ${{ matrix.goarm }}
        EXTENSION: ${{ matrix.extension }}
      run: make build
          
    - name: Install fpm
      if: matrix.package
      run: |
        sudo apt-get update
        sudo apt-get install -y rpm ruby ruby-dev
        sudo gem install fpm
        
    - name: Package
      if: matrix.package
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
        GOARM: ${{ matrix.goarm }}
      run: make package-deb package-rpm

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dist-${{ matrix.goos }}-${{ matrix.goarch }}
        path: dist/*
        retention-days: 14

  release:
    name: Release
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        path: dist
        pattern: dist-*
        merge-multiple: true

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload Release Asset
      uses: actions/github-script@v7
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const fs = require('fs').promises;
          const upload_url = '${{ steps.create_release.outputs.upload_url }}';
          for (let file of await fs.readdir('./dist')) {
            console.log('uploading', file);
            await github.repos.uploadReleaseAsset({
              url: upload_url,
              name: file,
              data: await fs.readFile(`./dist/${file}`)
            });
          }
