name: Docker

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'

env:
  GHCR_REPO: ghcr.io/${{ github.repository_owner }}/
  DOCKERHUB_REPO: docker.io/${{ github.repository_owner }}/

jobs:
  build:
    name: Docker (${{ matrix.platform }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            suffix: -amd64
          - platform: linux/arm64/v8
            suffix: -arm64
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: ^1.24
        cache: true
        cache-dependency-path: |
          go.sum
          go.mod

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Log in to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

    - name: Set VERSION for tag builds
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "VERSION=$(git describe --tags --abbrev=0 HEAD)" >> $GITHUB_ENV

    - name: Build
      run: |
        DOCKER_SUFFIX=${{ matrix.suffix }} DOCKER_REPO=${{ env.DOCKERHUB_REPO }} DOCKER_CMD='buildx build --push --platform ${{ matrix.platform }} -t $(GHCR_REPO)$(NAME):$(ABBREV)$(DOCKER_SUFFIX)' make docker

  manifest:
    name: Docker Manifests
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Log in to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

    - name: Set VERSION for tag builds
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "VERSION=$(git describe --tags --abbrev=0 HEAD)" >> $GITHUB_ENV

    - name: Publish manifests to Docker Hub (branch)
      if: "!startsWith(github.ref, 'refs/tags/')"
      run: |
        DOCKER_REPO=${{ env.DOCKERHUB_REPO }} make docker-manifest-buildx
        DOCKER_REPO=${{ env.DOCKERHUB_REPO }} VERSION=latest make docker-manifest-release-buildx

    - name: Publish manifests to GHCR (branch)
      if: "!startsWith(github.ref, 'refs/tags/')"
      run: |
        DOCKER_REPO=${{ env.GHCR_REPO }} make docker-manifest-buildx
        DOCKER_REPO=${{ env.GHCR_REPO }} VERSION=latest make docker-manifest-release-buildx

    - name: Publish manifests to Docker Hub (tag)
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        DOCKER_REPO=${{ env.DOCKERHUB_REPO }} make docker-manifest-release-buildx
        DOCKER_REPO=${{ env.DOCKERHUB_REPO }} VERSION=latest make docker-manifest-release-buildx

    - name: Publish manifests to GHCR (tag)
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        DOCKER_REPO=${{ env.GHCR_REPO }} make docker-manifest-release-buildx
        DOCKER_REPO=${{ env.GHCR_REPO }} VERSION=latest make docker-manifest-release-buildx
